In [179]:
import pandas as pd

In [180]:
df_ibov = pd.read_csv(filepath_or_buffer='./ibovespa_94_22.csv')

In [181]:
df_ibov.isna().sum()

Date           0
Open         178
High         178
Low          178
Close        178
Adj Close    178
Volume       178
dtype: int64

In [182]:
df_ibov['Close'].fillna((df_ibov['Close'].interpolate()),inplace=True)

In [183]:
df_ibov.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1993-04-28  24.500000  24.600000  23.700001  24.299999  24.299999     0.0
1  1993-04-29  24.299999  24.799999  23.700001  23.700001  23.700001     0.0
2  1993-04-30  23.700001  24.200001  23.700001  24.100000  24.100000     0.0
3  1993-05-03  24.100000  24.400000  23.799999  24.100000  24.100000     0.0
4  1993-05-04  24.100000  25.000000  24.100000  24.900000  24.900000     0.0

In [184]:
df_ibov['Date'] = pd.to_datetime(df_ibov['Date'])

In [185]:
df_ibov = df_ibov[(df_ibov['Date'] <= '2022-07-18') & (df_ibov['Date'] >= '2000-01-01')]

In [186]:
df_ibov.head()

           Date     Open     High      Low    Close  Adj Close  Volume
1743 2000-01-03  17098.0  17408.0  16719.0  16930.0    16930.0     0.0
1744 2000-01-04  16908.0  16908.0  15851.0  15851.0    15851.0     0.0
1745 2000-01-05  15871.0  16302.0  15350.0  16245.0    16245.0     0.0
1746 2000-01-06  16237.0  16499.0  15977.0  16107.0    16107.0     0.0
1747 2000-01-07  16125.0  16449.0  16125.0  16309.0    16309.0     0.0

In [187]:
df_ibov.set_index('Date', inplace=True)

In [188]:
df_ibov.head()

               Open     High      Low    Close  Adj Close  Volume
Date
2000-01-03  17098.0  17408.0  16719.0  16930.0    16930.0     0.0
2000-01-04  16908.0  16908.0  15851.0  15851.0    15851.0     0.0
2000-01-05  15871.0  16302.0  15350.0  16245.0    16245.0     0.0
2000-01-06  16237.0  16499.0  15977.0  16107.0    16107.0     0.0
2000-01-07  16125.0  16449.0  16125.0  16309.0    16309.0     0.0

In [189]:
df_ibov.to_csv('df_ibov.csv')

In [190]:
################

In [191]:
df_1 = pd.read_csv(filepath_or_buffer='./usd_94_2013.csv')
df_2 = pd.read_csv(filepath_or_buffer='./usd_2013_2022.csv')

In [192]:
df_dol = pd.concat([df_1,df_2])

In [193]:
df_dol.head()

           Date   Price    Open    High     Low Change %
0  Jul 09, 2013  2.2571  2.2650  2.2659  2.2571   -0.31%
1  Jul 08, 2013  2.2642  2.2524  2.2648  2.2443    0.52%
2  Jul 05, 2013  2.2525  2.2485  2.2707  2.2440    0.20%
3  Jul 04, 2013  2.2480  2.2681  2.2728  2.2475   -0.89%
4  Jul 03, 2013  2.2681  2.2540  2.2717  2.2506    0.60%

In [194]:
df_dol['Date'] = df_dol['Date'].str.replace(' ','-')

In [195]:
df_dol['Date'] = df_dol['Date'].str.replace(',','')

In [196]:
df_dol.head()

          Date   Price    Open    High     Low Change %
0  Jul-09-2013  2.2571  2.2650  2.2659  2.2571   -0.31%
1  Jul-08-2013  2.2642  2.2524  2.2648  2.2443    0.52%
2  Jul-05-2013  2.2525  2.2485  2.2707  2.2440    0.20%
3  Jul-04-2013  2.2480  2.2681  2.2728  2.2475   -0.89%
4  Jul-03-2013  2.2681  2.2540  2.2717  2.2506    0.60%

In [197]:
df_dol['Date'] = pd.to_datetime(df_dol.Date)

In [198]:
df_dol.head()

        Date   Price    Open    High     Low Change %
0 2013-07-09  2.2571  2.2650  2.2659  2.2571   -0.31%
1 2013-07-08  2.2642  2.2524  2.2648  2.2443    0.52%
2 2013-07-05  2.2525  2.2485  2.2707  2.2440    0.20%
3 2013-07-04  2.2480  2.2681  2.2728  2.2475   -0.89%
4 2013-07-03  2.2681  2.2540  2.2717  2.2506    0.60%

In [199]:
df_dol['Date'] = df_dol['Date'].dt.strftime('%Y-%m-%d')

In [200]:
df_dol.head()

         Date   Price    Open    High     Low Change %
0  2013-07-09  2.2571  2.2650  2.2659  2.2571   -0.31%
1  2013-07-08  2.2642  2.2524  2.2648  2.2443    0.52%
2  2013-07-05  2.2525  2.2485  2.2707  2.2440    0.20%
3  2013-07-04  2.2480  2.2681  2.2728  2.2475   -0.89%
4  2013-07-03  2.2681  2.2540  2.2717  2.2506    0.60%

In [201]:
df_dol = df_dol[(df_dol['Date'] <= '2022-07-18') & (df_dol['Date'] >= '2000-01-01')]

In [202]:
df_dol = df_dol.set_index('Date')

In [203]:
df_dol.head()

             Price    Open    High     Low Change %
Date
2013-07-09  2.2571  2.2650  2.2659  2.2571   -0.31%
2013-07-08  2.2642  2.2524  2.2648  2.2443    0.52%
2013-07-05  2.2525  2.2485  2.2707  2.2440    0.20%
2013-07-04  2.2480  2.2681  2.2728  2.2475   -0.89%
2013-07-03  2.2681  2.2540  2.2717  2.2506    0.60%

In [204]:
df_dol = df_dol.sort_values(by=['Date'],ascending=True)

In [205]:
df_dol.to_csv('df_usd.csv')

In [206]:
####################

In [207]:
df_ibov_1 = pd.read_csv(filepath_or_buffer='./df_ibov.csv')
df_usd = pd.read_csv(filepath_or_buffer='./df_usd.csv')

In [208]:
final_df = df_ibov_1.join(df_usd, lsuffix='Date')

In [209]:
final_df = final_df[['Date','Close','Price']]

In [210]:
final_df.head()

         Date    Close   Price
0  2000-01-03  16930.0  1.8200
1  2000-01-04  15851.0  1.8490
2  2000-01-05  16245.0  1.8380
3  2000-01-06  16107.0  1.8410
4  2000-01-07  16309.0  1.8275

In [211]:
final_df.to_csv('final_df.csv')