In [88]:
import pandas as pd

In [89]:
df_ibov = pd.read_csv(filepath_or_buffer='./ibovespa_94_22.csv')

In [90]:
df.isna().sum()

Price       0
Open        0
High        0
Low         0
Change %    0
dtype: int64

In [91]:
df_ibov['Close'].fillna((df_ibov['Close'].interpolate()),inplace=True)

In [115]:
df_ibov.head()

               Open     High      Low    Close  Adj Close  Volume
Date
2000-01-03  17098.0  17408.0  16719.0  16930.0    16930.0     0.0
2000-01-04  16908.0  16908.0  15851.0  15851.0    15851.0     0.0
2000-01-05  15871.0  16302.0  15350.0  16245.0    16245.0     0.0
2000-01-06  16237.0  16499.0  15977.0  16107.0    16107.0     0.0
2000-01-07  16125.0  16449.0  16125.0  16309.0    16309.0     0.0

In [93]:
df_ibov['Date'] = pd.to_datetime(df_ibov['Date'])

In [94]:
df_ibov = df_ibov[(df_ibov['Date'] <= '2022-07-18') & (df_ibov['Date'] >= '2000-01-01')]

In [116]:
df_ibov.head()

               Open     High      Low    Close  Adj Close  Volume
Date
2000-01-03  17098.0  17408.0  16719.0  16930.0    16930.0     0.0
2000-01-04  16908.0  16908.0  15851.0  15851.0    15851.0     0.0
2000-01-05  15871.0  16302.0  15350.0  16245.0    16245.0     0.0
2000-01-06  16237.0  16499.0  15977.0  16107.0    16107.0     0.0
2000-01-07  16125.0  16449.0  16125.0  16309.0    16309.0     0.0

In [95]:
df_ibov.set_index('Date', inplace=True)

In [117]:
df_ibov.head()

               Open     High      Low    Close  Adj Close  Volume
Date
2000-01-03  17098.0  17408.0  16719.0  16930.0    16930.0     0.0
2000-01-04  16908.0  16908.0  15851.0  15851.0    15851.0     0.0
2000-01-05  15871.0  16302.0  15350.0  16245.0    16245.0     0.0
2000-01-06  16237.0  16499.0  15977.0  16107.0    16107.0     0.0
2000-01-07  16125.0  16449.0  16125.0  16309.0    16309.0     0.0

In [96]:
df_ibov.to_csv('df_ibov.csv')

In [97]:
################

In [98]:
df_1 = pd.read_csv(filepath_or_buffer='./usd_94_2013.csv')
df_2 = pd.read_csv(filepath_or_buffer='./usd_2013_2022.csv')

In [99]:
df_dol = pd.concat([df_1,df_2])

In [118]:
df_dol.head()

             Price
Date
2000-01-03  1.8200
2000-01-04  1.8490
2000-01-05  1.8380
2000-01-06  1.8410
2000-01-07  1.8275

In [100]:
df_dol['Date'] = df_dol['Date'].str.replace(' ','-')

In [101]:
df_dol['Date'] = df_dol['Date'].str.replace(',','')

In [119]:
df_dol.head()

             Price
Date
2000-01-03  1.8200
2000-01-04  1.8490
2000-01-05  1.8380
2000-01-06  1.8410
2000-01-07  1.8275

In [102]:
df_dol['Date'] = pd.to_datetime(df_dol.Date)

In [120]:
df_dol.head()

             Price
Date
2000-01-03  1.8200
2000-01-04  1.8490
2000-01-05  1.8380
2000-01-06  1.8410
2000-01-07  1.8275

In [103]:
df_dol['Date'] = df_dol['Date'].dt.strftime('%Y-%m-%d')

In [121]:
df_dol.head()

             Price
Date
2000-01-03  1.8200
2000-01-04  1.8490
2000-01-05  1.8380
2000-01-06  1.8410
2000-01-07  1.8275

In [104]:
df_dol = df_dol[(df_dol['Date'] <= '2022-07-18') & (df_dol['Date'] >= '2000-01-01')]

In [105]:
df_dol = df_dol.set_index('Date')

In [122]:
df_dol.head()

             Price
Date
2000-01-03  1.8200
2000-01-04  1.8490
2000-01-05  1.8380
2000-01-06  1.8410
2000-01-07  1.8275

In [107]:
df_dol = df_dol.sort_values(by=['Date'],ascending=True)

In [108]:
df_dol.to_csv('df_usd.csv')

In [109]:
####################

In [110]:
df_ibov_1 = pd.read_csv(filepath_or_buffer='./df_ibov.csv')
df_usd = pd.read_csv(filepath_or_buffer='./df_usd.csv')

In [111]:
final_df = df_ibov_1.join(df_usd, lsuffix='Date')

In [112]:
final_df = final_df[['Date','Close','Price']]

In [113]:
final_df.head()

         Date    Close   Price
0  2000-01-03  16930.0  1.8200
1  2000-01-04  15851.0  1.8490
2  2000-01-05  16245.0  1.8380
3  2000-01-06  16107.0  1.8410
4  2000-01-07  16309.0  1.8275

In [114]:
final_df.to_csv('final_df.csv')